h1{
    font-style: italic;
    color: rgb(254, 255, 255);
    border-radius: 17px;
    background-color: #32cd32;
    border: 3px solid #32cd32   
}
.botones{
    position: relative;
    
}
.registro-entradas{
    color: #163adf;
    font-size: 30px;
    font-style: italic;
}

caption{
    font-size: larger;
    font-style: italic;
}
table{
    width: 500px;
    height: 50px;
    background: rgb(119, 223, 144);
    position: absolute;
    bottom: 1;
    left: 20%;
    border-spacing:0;
}
rt{
    table-layout: fixed;
}